/* @st-import Focusable from "mgz-ui-core/hocs/Focusable/Focusable.st.css"; */
@st-import [B10, B40, B50, D10, D10-30, D80, F00, R10, R60] from "../Foundation/stylable/colors.st.css";

.root {
	-st-states: skin(enum(standard, dark, destructive)), disabled, highlighted,
		ellipsis;
	/* -st-extends: Focusable; */

	overflow: hidden;
	display: inline-flex;
	padding: 6px 24px 6px 18px;
	width: 100%;
	align-items: center;

	background-color: value(D80);
	cursor: pointer;

	/* not supported in IE11 & Edge; 'left' as fallback */
	text-align: left;
	text-align: start;

	outline: none;
	border: none;

	text-decoration: none;
}

.root:disabled {
	cursor: default;
	color: value(D10-30);
	pointer-events: none;
}

.root:not(:disabled):focus-visible {
	background-color: value(B40);
	box-shadow: inset 0 0 0 3px value(F00);
}

/* Skin standard */
.root:skin(standard) .text,
.root:skin(standard) .prefixIcon,
.root:skin(standard) .suffixIcon {
	color: value(D10);
}

.root:skin(standard):not(:disabled):hover .text,
.root:skin(standard):not(:disabled):hover .prefixIcon,
.root:skin(standard):not(:disabled):hover .suffixIcon {
	color: value(B10);
}

.root:skin(standard):highlighted,
.root:skin(standard):not(:disabled):hover {
	background-color: value(B50);
}

.root:skin(standard):active {
	background-color: value(B40);
}

.root:skin(standard):not(:disabled):focus-visible {
	background-color: value(B10);
}

.root:skin(standard):not(:disabled):focus-visible .text,
.root:skin(standard):not(:disabled):focus-visible .prefixIcon,
.root:skin(standard):not(:disabled):focus-visible .suffixIcon {
	color: value(D80);
}

.root:skin(standard):disabled .text,
.root:skin(standard):disabled .prefixIcon,
.root:skin(standard):disabled .suffixIcon {
	color: value(D10-30);
}

.root:skin(standard):not(:disabled):hover .prefixIcon,
.root:skin(standard):not(:disabled):hover .suffixIcon,
.root:skin(standard):not(:disabled):hover .text {
	color: value(B10);
}

/* Skin dark */
.root:skin(dark) .text,
.root:skin(dark) .prefixIcon,
.root:skin(dark) .suffixIcon {
	color: value(D10);
}

.root:skin(dark):highlighted .text,
.root:skin(dark):highlighted .prefixIcon,
.root:skin(dark):highlighted .suffixIcon,
.root:skin(dark):not(:disabled):hover .text,
.root:skin(dark):not(:disabled):hover .prefixIcon,
.root:skin(dark):not(:disabled):hover .suffixIcon {
	color: value(B10);
}

.root:skin(dark):active .text,
.root:skin(dark):active .prefixIcon,
.root:skin(dark):active .suffixIcon {
	color: value(B10);
}

.root:skin(dark):disabled .text,
.root:skin(dark):disabled .prefixIcon,
.root:skin(dark):disabled .suffixIcon {
	color: value(D10-30);
}

/* Skin destructive */
.root:skin(destructive) .text,
.root:skin(destructive) .prefixIcon,
.root:skin(destructive) .suffixIcon {
	color: value(R10);
}

.root:skin(destructive):disabled .text,
.root:skin(destructive):disabled .prefixIcon,
.root:skin(destructive):disabled .suffixIcon {
	color: value(D10-30);
}

.root:skin(destructive):not(:disabled):hover,
.root:skin(destructive):not(:disabled):hover {
	background-color: value(R60);
}

.prefixIcon {
	-st-states: subtitle;
}

.suffixIcon {
	-st-states: subtitle;
	flex-shrink: 0;
	margin-inline-start: 6px;
}

.prefixIcon,
.suffixIcon {
	flex-shrink: 0;
}

.prefixIcon:subtitle,
.suffixIcon:subtitle {
	margin-block-end: auto;
}

.textBox {
	margin-inline-start: 6px;
	flex-grow: 2;
}

.root:ellipsis .textBox {
	overflow: hidden;
}

.suffix {
	flex-grow: 1;
	max-width: 30%;
	margin-left: 6px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}