@st-import [B10, D80, D50, D10-20] from "../Foundation/stylable/colors.st.css";

.root {
	-st-states: disabled(boolean), readOnly(boolean);
}

.link {
	padding: 4px;
	background-color: value(D80);
}

.previewWrapper {
	flex: 1;
}

.preview {
	position: relative;
	border: 3px solid #116DFF;
	height: 105px;
	box-sizing: content-box;
	background: url("./images/Cross.svg") no-repeat;
	background-color: value(D80);
}

.root:disabled .preview {
	border: 3px solid value(D10-20);
}

.root:readOnly .preview {
	border: solid 1px value(D50);
}

.paddingItem {
	width: 110px;
}