@st-import [B10, D10] from "../../Foundation/stylable/colors.st.css";

.root {
	-st-states: disabled;
	text-align: right;
	margin-top: 15px;
	margin-bottom: 15px;
}

.tab {
	-st-states: actived;
	color: value(D10);
	cursor: pointer;
	padding: 0 5px;
}

.tab:hover {
	color: value(B10);
}

.nameGroup {
	justify-content: flex-end;
}

.activeEdittingBtn {
	-st-states: actived;
}

.activeEdittingBtn:actived svg {
	fill: value(B10);
}

.activeEdittingBtn svg {
	cursor: pointer;
}

.activeEdittingBtn svg:hover {
	fill: value(B10);
}

.root:disabled .tab,
.root:disabled .activeEdittingBtn svg {
	cursor: default;
}