@st-import [B10] from "../../Foundation/stylable/colors.st.css";

.root {
	-st-states: actived(boolean);
}

.root:actived svg {
	color: value(B10);
}

.root > span {
	display: flex;
	align-items: center;
}