@st-import [B20, R10, Y10, B60,D80, B40, D10-66, D10-10 ] from "../../Foundation/stylable/colors.st.css";
@st-import [SP1] from "../../Foundation/stylable/spacing.st.css";

.root {
	-st-states: isEmpty(boolean), showOverlay(boolean), type(enum(image, video, color)), disabled, status(enum(error, warning));
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	z-index: 1;
	width: 100%;
	border: 1px solid value(B20);
	border-radius: value(SP1)
}

.root:isEmpty {
	border: dashed 1px value(B20);
}

.root:status(error) {
	border: 1px solid value(R10);
}

.root:status(warning) {
	border: 1px solid value(Y10);
}

.root:type(color) .canvas {
	background-color: value(B60);
}

.root:isEmpty .canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	background: value(D80);
}

.root:isEmpty:disabled {
	border: dashed 1px value(D10-10);
}

.root:showOverlay::before {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .9), transparent 95%);
	transform: rotate(35deg);
	transition: top .2s ease, right .2s ease;
	z-index: 9;
}

.root:disabled {
	border: 1px solid value(B40);
}

.root:disabled .canvas img,
.root:disabled .canvas video {
	opacity: .4;
}


.root video {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.errorIcon {
	color: value(R10);
}

.warningIcon {
	color: value(Y10);
}

.canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.canvas img {
	max-height: 100%;
	display: grid;
	grid-template-columns: repeat(5);
}

.iconButton {
	border-radius: 6px;
}

.mediaOverLay {
	border-radius: 0 !important;
}

.statusIndicator {
	position: absolute;
	right: value(SP1);
	top: value(SP1);
	z-index: 3;
}

.inLineMessage {
	position: absolute;
	bottom: 20px;
}

.labelPreview {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 36px;
	z-index: 2;
	background: value(D10-66);
}

.textLabel {
	overflow: hidden;
}